*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
.DS_Store
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

